Repository tripleten-externships/vura-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Fix requested changes
  apps/backend/models/forumPost.ts
Due: eslint --fix, prettier --write

Remove package-lock.json from PR
  package-lock.json
Due: prettier --write

[VURA-8] restore package-lock.json
  package-lock.json
Due: prettier --write

Vura 8/forumpost model (#32)
  apps/backend/models/forumPost.ts
  apps/backend/models/index.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
  package-lock.json
Due: eslint --fix, prettier --write

[VURA-3] fix migrations after merge
  apps/backend/migrations/20250930204708_user_updates/migration.sql
  apps/backend/models/forum-post.ts
  apps/backend/models/index.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
  package-lock.json
Due: eslint --fix, prettier --write

[VURA-5] fix migrations after merge
  apps/backend/migrations/20250930211830_group_chat/migration.sql
  apps/backend/models/forum-post.ts
  apps/backend/models/group-chat.ts
  apps/backend/models/index.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
  package-lock.json
Due: eslint --fix, prettier --write

[VURA-5] fix package-lock.json
  package-lock.json
Due: prettier --write

Vura 5 group chat model schema (#34)
  apps/backend/migrations/20250930211830_group_chat/migration.sql
  apps/backend/models/forum-post.ts
  apps/backend/models/group-chat.ts
  apps/backend/models/index.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
  package-lock.json
Due: eslint --fix, prettier --write

[VURA-3] synchronize migrations
  apps/backend/migrations/20250930211830_group_chat/migration.sql
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: none

[VURA-6] fix duplicate GroupChat model schema and fix migration state
  apps/backend/migrations/20250930224053_chat_message/migration.sql
  apps/backend/models/GroupChat.ts
  apps/backend/models/chat-message.ts
  apps/backend/models/group-chat.ts
  apps/backend/models/index.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

Vura 6 chat message model schema (#35)
  apps/backend/migrations/20250930224053_chat_message/migration.sql
  apps/backend/models/chat-message.ts
  apps/backend/models/group-chat.ts
  apps/backend/models/index.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
  apps/backend/utils/access.ts
Due: eslint --fix, prettier --write

[VURA-4] fix migrations after merging in main
  apps/backend/migrations/20250930225839_parent_model/migration.sql
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: none

Parent model schema (#36)
  apps/backend/migrations/20250930225839_parent_model/migration.sql
  apps/backend/models/index.ts
  apps/backend/models/parent.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

[VURA-17] update schema file
  apps/backend/schema.graphql
Due: none

Added notification list schema (#37)
  apps/backend/models/notification.ts
Due: eslint --fix, prettier --write

[VURA-10] fix migrations after merging main into branch
  apps/backend/migrations/20250930231556_resource_checklist_models/migration.sql
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: none

[VURA-10] fix syntax for idField
  apps/backend/models/resource.ts
Due: eslint --fix, prettier --write

Implement Resource and Checklist models (#38)
  apps/backend/migrations/20250930231556_resource_checklist_models/migration.sql
  apps/backend/models/checklist.ts
  apps/backend/models/index.ts
  apps/backend/models/resource.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

[VURA-3] cleaning up duped schema and model data
  apps/backend/models/index.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

[VURA-3] fix migration drift
  apps/backend/migrations/20250930204708_user_updates/migration.sql
  apps/backend/migrations/20250930225839_parent_model/migration.sql
  apps/backend/migrations/20250930234030_sync_20250930/migration.sql
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: none

removed commented "messages" field from groupchat
  apps/backend/models/group-chat.ts
Due: eslint --fix, prettier --write

updates backend file structure
  apps/backend/api/index.ts
  apps/backend/api/middlewares/auth.ts
  apps/backend/api/middlewares/error.ts
  apps/backend/api/pagination/cursor.ts
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/resolvers/loaders/index.ts
  apps/backend/api/resolvers/scalars.ts
  apps/backend/api/schema/mutations/createPost.ts
  apps/backend/api/schema/mutations/login.ts
  apps/backend/api/schema/mutations/signup.ts
  apps/backend/api/schema/queries/forumFeed.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/api/validation/inputs.ts
  apps/backend/routes/chat.ts
  apps/backend/services/ai/ai.service.ts
  apps/backend/services/ai/index.ts
  apps/backend/services/ai/provider/gemini.ts
  apps/backend/services/auth/auth.service.ts
  apps/backend/services/auth/index.ts
  apps/backend/services/auth/types.ts
  apps/backend/services/careplan/careplan.service.ts
  apps/backend/services/careplan/index.ts
  apps/backend/services/careplan/types.ts
  apps/backend/services/forum/forum.service.ts
  apps/backend/services/forum/index.ts
  apps/backend/services/forum/types.ts
  apps/backend/types/context.ts
  apps/backend/utils/auth.ts
  apps/backend/utils/errors.ts
  apps/backend/utils/logger.ts
  apps/backend/utils/validation.ts
Due: eslint --fix, prettier --write

updates backend file structure (#39)
  apps/backend/api/index.ts
  apps/backend/api/middlewares/auth.ts
  apps/backend/api/middlewares/error.ts
  apps/backend/api/pagination/cursor.ts
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/resolvers/loaders/index.ts
  apps/backend/api/resolvers/scalars.ts
  apps/backend/api/schema/mutations/createPost.ts
  apps/backend/api/schema/mutations/login.ts
  apps/backend/api/schema/mutations/signup.ts
  apps/backend/api/schema/queries/forumFeed.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/api/validation/inputs.ts
  apps/backend/routes/chat.ts
  apps/backend/services/ai/ai.service.ts
  apps/backend/services/ai/index.ts
  apps/backend/services/ai/provider/gemini.ts
  apps/backend/services/auth/auth.service.ts
  apps/backend/services/auth/index.ts
  apps/backend/services/auth/types.ts
  apps/backend/services/careplan/careplan.service.ts
  apps/backend/services/careplan/index.ts
  apps/backend/services/careplan/types.ts
  apps/backend/services/forum/forum.service.ts
  apps/backend/services/forum/index.ts
  apps/backend/services/forum/types.ts
  apps/backend/types/context.ts
  apps/backend/utils/auth.ts
  apps/backend/utils/errors.ts
  apps/backend/utils/logger.ts
  apps/backend/utils/validation.ts
Due: eslint --fix, prettier --write

clean up old file
  apps/backend/api/chat.ts
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

clean up old file (#40)
  apps/backend/api/chat.ts
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

Vura-3 age and gender requirement adjustment
  apps/backend/models/parent.ts
  apps/backend/models/user.ts
Due: eslint --fix, prettier --write

[VURA-3] sync migrations, toggle off avatar validation
  apps/backend/migrations/20251002175238_models_cleanup_20251002/migration.sql
  apps/backend/models/care-plan.ts
  apps/backend/models/index.ts
  apps/backend/models/parent.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

Vura 3 user model schema (#33)
  apps/backend/migrations/20250930204708_user_updates/migration.sql
  apps/backend/migrations/20250930211830_group_chat/migration.sql
  apps/backend/migrations/20250930225839_parent_model/migration.sql
  apps/backend/migrations/20250930234030_sync_20250930/migration.sql
  apps/backend/migrations/20251002175238_models_cleanup_20251002/migration.sql
  apps/backend/models/care-plan.ts
  apps/backend/models/index.ts
  apps/backend/models/parent.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

example usage of mutations and queries in project backend
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/resolvers/scalars.ts
  apps/backend/api/schema/mutations/signup.ts
  apps/backend/api/schema/queries/userProfile.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/keystone.ts
  apps/backend/schema.graphql
  apps/backend/types/context.ts
Due: eslint --fix, prettier --write

stub out Query and Mutation modules, extend graphql schema with resolvers, implement DateTime scalars
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/resolvers/scalars.ts
  apps/backend/api/schema/queries/userProfile.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/keystone.ts
  apps/backend/schema.graphql
  apps/backend/types/context.ts
Due: eslint --fix, prettier --write

stub out Query and Mutation modules, extend graphql schema with resolvers, implement DateTime scalars (#42)
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/resolvers/scalars.ts
  apps/backend/api/schema/queries/userProfile.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/keystone.ts
  apps/backend/schema.graphql
  apps/backend/types/context.ts
Due: eslint --fix, prettier --write

remove old providers and aiService artifacts
  apps/backend/schema.graphql
  apps/backend/services/ai/aiService.ts
  apps/backend/services/ai/providers/gemini.ts
Due: eslint --fix, prettier --write

remove old providers and aiService artifacts (#43)
  apps/backend/schema.graphql
  apps/backend/services/ai/aiService.ts
  apps/backend/services/ai/providers/gemini.ts
Due: eslint --fix, prettier --write

branch initial commit VURA-18-user-auth-and-profile
  apps/backend/models/index.ts
Due: eslint --fix, prettier --write

comit of v1
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/schema/mutations/UpdateProfile.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/api/validation/validation.ts
Due: eslint --fix, prettier --write

removed accidental reformatting of the schema files.
  .prettierignore
Due: none

Query for Fetching resources
  apps/backend/api/pagination/cursor.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/schema/queries/getResources.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/schema.graphql
Due: eslint --fix, prettier --write

[VURA-19] create signup mutation
  apps/backend/api/resolvers/Mutation.ts
  apps/backend/api/resolvers/Query.ts
  apps/backend/api/schema/mutations/signup.ts
  apps/backend/api/schema/queries/userProfile.ts
  apps/backend/api/schema/typeDefs.ts
  apps/backend/models/user.ts
  apps/backend/schema.graphql
  apps/backend/schema.prisma
Due: eslint --fix, prettier --write

[VURA-20]create login mutation
  apps/backend/api/schema/mutations/login.ts
Due: eslint --fix, prettier --write

[VURA-19]comment login Mutation.ts
  apps/backend/api/resolvers/Mutation.ts
Due: eslint --fix, prettier --write
